.list {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: 100%;
  
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #97CADB;
    border-radius: 8px;
    cursor: pointer;
    
    .edit-input {
      border: none;
      background: transparent;
      width: 100%;
      outline: none;
      font-size: 16px;
      padding: 0;
      
    }
    
    .item {
      flex: 1;
      flex-wrap: wrap;
    }
    
    
  }

  .navigation {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;

    button {
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: all 150ms;


      img {
        width: 18px;
        height: 18px;
      }
    }

    button:hover {
      scale: 1.2;
    }
  }
  
  
}